name: Build Frontend

on:
  push:
    branches:
      - main  # Workflow déclenché sur chaque push vers main

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontend dependencies
        run: |
          cd admin-dashboard
          npm ci

      - name: Build frontend
        run: |
          cd admin-dashboard
          npm run build
